*.json
*.csv
\extract
\.vscode
\ccl_chrome_indexeddb
\.idea
\__pycache__
\Zoom_App_Decrypt\*.txt
\Zoom_App_Decrypt\*.db
\sqlcipher
*db
*txt
*png
database_key
user_database_key
local_state_key_dec
Zoom_App_Decrypt/aes_gcm_decrypt_test.py